body{
	margin: 0;
}

h1{
	font-size: 65px;
	background-color: red;
	position: absolute;
	margin-top: 100px;
	margin-left: 300px;
}

h2{
	text-align: center;
	width: 100%;
	font-family: tahoma;
}

img {
	width: 100%;
}

.paraMaior{
	font-size: 60px;
}

#sidemenu{
	/*transform: translateY(50px);*/
	background-color: yellow;
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	transition: 500ms;
	text-align: center;
}